In [27]:
__author__ = 'pratyush'
import requests
import json
import os
import modules.config as config
from time import sleep
from requests.auth import HTTPBasicAuth
from ibm_watson import DiscoveryV1
from pprint import pprint
import modules.discovery_helper as dh_help
import modules.common_helper as cm_help
import sys
import pandas as pd
import modules.config as config
import math
import re
import hashlib
import unicodedata
from bs4 import BeautifulSoup 
from ibm_cloud_sdk_core.authenticators import IAMAuthenticator
import pickle

In [28]:
all_params = cm_help.get_params()

In [29]:
def discovery_init(COLLECTION_NAME=config.DISCOVERY_COLLECTION_NAME,default=all_params['discovery']['default']):
    response = {}
    
    discovery_param = all_params['discovery']
    # default = 
    authenticator = IAMAuthenticator(apikey=discovery_param[default]['apikey'])
    endurl = "https://gateway.watsonplatform.net/discovery/api"
    discovery = DiscoveryV1(
        version=discovery_param[default]['version'],
        authenticator = authenticator)
    iam_apikey=discovery_param[default]['apikey'],
    url=discovery_param[default]['url']    
    if default =="r3":
        discovery.set_service_url(discovery_param[default]['url'])

    environments = discovery.list_environments().get_result()
    # print(json.dumps(environments, indent=2))
    print("Discovery instance loaded "+default)
    js = json.dumps(environments)
    jres = json.loads(js)
    # print(jres['environments'][1]['environment_id'])
    env_id = jres['environments'][1]['environment_id']
    collections = discovery.list_collections(env_id).get_result()
    cols = json.dumps(collections, indent=2)
    colres = json.loads(cols)

    #print(colres['collections'])
    for item in colres['collections']:
        if item['name']== COLLECTION_NAME:
            print('COLLECTION ID:', item['collection_id'], 'COLLECTION NAME:', item['name'])
            col_id = item['collection_id']
    response['env_id'] = env_id
    response['col_id'] = col_id
    response['discovery'] = discovery
    return response

In [30]:
discovery_config = discovery_init(COLLECTION_NAME='Naviga1',default="r3")

Discovery instance loaded r3
COLLECTION ID: ec586f27-f848-40b7-99af-dab80a43b248 COLLECTION NAME: Naviga1

In [31]:
doc_ids = ['167424f8-ca7f-4224-a00b-a54a5a7766c7',
 '7185ebf3-fa27-4fdc-a9fd-2011165a8603',
 '16601478-ebd3-4b55-bd54-e292865696e1',
 'a6f63029-6c69-49ea-a0dc-a5c7e85f55fb',
 '70ebe48c-a75d-4236-9ed6-4af0d8e1a421',
 '172ac60b-3611-4684-9c75-612abe362a84',
 '92123e9a-a03a-48f1-9f57-59319648b9a0',
 'a1433e93-fa9b-4f17-baaa-c64750ef109d',
 'e1410f9c-99a1-473c-83c3-fccb3b3b2ab2',
 'af8903b0-7658-4461-a770-960dbab328f0',
 'ca53af4f-991f-4712-81e0-ddd1591b1705',
 '79415524-ac65-4cee-99b7-18fc7265a0be',
 'ddb781fd-762a-4a61-9969-cac261425f63',
 'bda70352-5984-46a9-a891-119037c9c63d',
 '2ae29870-e433-4757-a94d-c495690238f5',
 'ff516124-45e4-460d-b6d9-48fad5f25c62',
 '2f872a57-25f2-45ea-ab4c-f02bf10c904c',
 '5eceab7f-f37e-44f4-aba1-19ad9b10f8da',
 'd5d89205-adb4-4139-8bf9-e958674a0da7',
 '0d06446d-a8fb-422d-a8a2-8e69c9be04ff',
 'f63cea4c-f478-4874-a350-41ec049ba56a',
 '58ca5429-675c-442c-98de-ad84fd2cf8c2',
 '60405989-66ba-421d-a062-5848eb7b6dc7',
 '97c847ae-5055-41ca-9f86-ea055963f1e7',
 'c637a047-60ff-4cb3-969e-5a0028b45cea',
 'bd8ad3d7-68ca-4d46-a82b-e1ea096afa26',
 'ddc9b34b-3d42-4153-b618-8d0da636c5c6',
 '6cda90e4-92dc-403b-9515-904ce543b138',
 '5723d949-29e0-4215-ba56-16f64ed33829',
 'e11c8456-3a7b-48c8-909f-1a5993b17091',
 'e3ea4a1c-e43f-4c4b-b491-87bf48adf89f',
 '1e948691-372e-4860-86e9-9f594ae98918',
 '11bab4cb-310f-43b0-8e0c-51dee6d2aa9f',
 '41e96803-31a4-47bf-9e5b-9af18497f0fb',
 '29733af7-66b6-461c-ac93-4cd20ef38ca8',
 'f6f391ca-749a-4bfa-9d9c-193104a5d237',
 'dcb1a853-c0a1-49a8-b2dd-674e06b80a39',
 'd5f19b61-ce53-4609-b802-857614b34537',
 'ff0587d0-5c06-412e-885a-31faf0151e77',
 '9717f3ec-6d4b-434e-82de-8a52552f8931',
 '9cb2e37a-1a40-4928-be23-d74ae391b89f',
 '87ae9d52-43a2-4b7c-9286-8acc7e2dd1fe',
 '0819535b-e9ea-4d53-9100-22435397bef7',
 '45404433-b299-4c0f-a938-08e88b550135',
 '9020f584-79c9-45c5-b8e4-d02b18227c2f',
 'c77ade55-521b-410e-8912-0ec5d0dfaf32',
 '9cc9f69d-ad0d-47ab-a0ef-79fb5584b301',
 '4b803714-d4b3-4420-baec-5b5334f2121d',
 'fb936514-3376-4f45-aabe-1688b1fd569f',
 '21b0f146-d8ea-4a82-9c76-8ffa13513b41']

In [20]:
result = []
offset = 0

count = 1000

for j in range(50):
    reqparams = {'offset':offset,'count':count}
    reqparams['filters']='id::'+sayan_id[j]
    discovery_data2 = dh_help.getDiscoveryData(discovery_config,reqparams)
    
    res={}

    #doc = discovery_data2["results"]
    res["id"]=sayan_id[j]

    source = discovery_data2["results"][0]['html']
    batRegex = re.compile(r'(.<[a-zA-Z]*[^>]*>(.+?)</[a-zA-Z]*>)')

    lists = re.findall(batRegex,source)
    len_ = len(lists)
    for i in range(len_):
        lists[i] = list(lists[i])

    regex = re.compile(r'\svalue="(.*?)"')
    subst = ''
    for i in range(len_):
        bregex = re.findall(regex,lists[i][0])
        if(len(bregex)!=0):
            lists[i][0] = lists[i][0].replace(bregex[0], subst)

    regex = re.compile(r'\sidsrc="(.*?)"')
    for i in range(len_):
        bregex = re.findall(regex,lists[i][0])
        if(len(bregex)!=0):
            lists[i][0] = lists[i][0].replace(bregex[0], subst)
            
    regex = re.compile(r'\shref="(.*?)"')
    for i in range(len_):
        bregex = re.findall(regex,lists[i][0])
        if(len(bregex)!=0):
            lists[i][0] = lists[i][0].replace(bregex[0], subst)
    

    for i in range(len_):
        lists[i][0]=lists[i][0].rsplit('/',1)
        lists[i][0][1]=lists[i][0][1].rsplit('>',1)
        keyword = lists[i][0][1][0]
        value = lists[i][1]

        if keyword in res:
            if value not in res[keyword]:
                res[keyword].append(value)       
        else:
            res[keyword] = [value]

    result.append(res)

offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0

In [21]:
result

[{'id': '167424f8-ca7f-4224-a00b-a54a5a7766c7',
  'person': ['Kobe Bryant',
   'LeBron James',
   'Michael Jordan',
   'Bill Russel',
   'Robert Horry',
   'Scottie Pippen',
   'Magic Johnson',
   'Kareem Abdul-Jabbar',
   'Oscar Robertson',
   'Russel Westbrook',
   'Hakeem Olajuwon',
   'Larry Bird',
   'Larry Legend',
   "Shaquille O'Neal",
   'Ervin "Magic" Johnson',
   'Wilt Chamberlain',
   "Wilt Chamberlain's",
   'LeBon James',
   'Kareem Abdul Jabar',
   'John Wooden',
   'Lew Alcindor',
   'Babe Ruth'],
  'org': ["Chicago Bulls'",
   "ESPN's",
   'Boston Celtics',
   'Houston Rockets',
   'Orlando Magic',
   'Miami Heat',
   'UCLA',
   'Chicago Bulls',
   'Washington Wizards'],
  'location': ['Mount Rushmore', 'Los Angeles']},
 {'id': '7185ebf3-fa27-4fdc-a9fd-2011165a8603',
  'location': ['Des Plaines American Legion Post 36',
   'Edward Hotel',
   'Mannheim Road',
   'Rosemont',
   'Park Ridge',
   'Chicago'],
  'chron': ['Aug. 1', 'March 21, 2021', 'Friday, May 29'],
  'person': ['Tom Strossner'],
  'org': ['Maine East High School', "Des Plaines American Legion's"]},
 {'id': '16601478-ebd3-4b55-bd54-e292865696e1',
  'location': ['Gregg County', 'Texas', 'Longview', 'U.S.', "Texas'"],
  'money': ['$5 million',
   '$1.29 billion',
   '$81.7 million',
   '$2.09 million',
   '$963,000',
   '$262,000',
   '$392 million'],
  'person': ['Mike Morath', 'Greg Abbott', 'Betsy DeVos'],
  'chron': ['March 13']},
 {'id': 'a6f63029-6c69-49ea-a0dc-a5c7e85f55fb',
  'org': ['NFL',
   'Baltimore Ravens',
   'Super Bowl',
   'Chicago Bulls',
   'Utah Jazz',
   'Iowa State',
   "Nationals'",
   "Padres'"],
  'location': ['Iowa', 'Puerto Vallarta, Mexico', 'Salt Lake City', 'Utah'],
  'person': ['Marshal Yanda',
   'Chris Doyle',
   'Alan Faneca',
   'Dennis Rodman',
   'Jerry Krause',
   'Phil Jackson',
   'Isiah Thomas',
   'Karl Malone',
   'Michael Jordan',
   'Jerry Sloan',
   'Kevin Dresser',
   'Julien Broderson',
   'Hilton (Coliseum)',
   'Kyle Hendricks',
   'Stephen Strasburg',
   'Luis Castillo',
   'Chris Paddack',
   'Tommy Kahnle'],
  'a': ['MLB.com']},
 {'id': '70ebe48c-a75d-4236-9ed6-4af0d8e1a421',
  'location': ['EL PASO, Texas', 'El Paso'],
  'person': ['Rosie Soria', 'Bonnie Soria Najera', "Leo Soria's"],
  'chron': ['Friday, May 15', 'Memorial Day'],
  'org': ['University Medical Center']},
 {'id': '172ac60b-3611-4684-9c75-612abe362a84',
  'location': ['GREENEVILLE',
   'Johnson City',
   'Greeneville',
   'Sullivan County',
   'JOHNSON CITY',
   "Johnson City's"],
  'org': ['U.S. District Court', 'African-American', 'Kingsport Times News'],
  'money': ['$1.2 million', '$300,000', '$900,000'],
  'chron': ['December 2019'],
  'person': ['Eldona Janutolo']},
 {'id': '92123e9a-a03a-48f1-9f57-59319648b9a0',
  'location': ["Vermont's", 'U.S.', 'Vietnam', 'Montpelier', "Montpelier's"],
  'person': ['George Aiken', 'Lyndon Johnson', 'Michael Sherman'],
  'org': ['Montpelier City Council', 'Vermont Supreme Court'],
  'chron': ['Nov. 6, 2018']},
 {'id': 'a1433e93-fa9b-4f17-baaa-c64750ef109d',
  'location': ['Vermont', "Vermont's"],
  'money': ['$1.25 billion', '$117,000', '$3.5 million'],
  'chron': ['June 30'],
  'org': ['Coronavirus Relief Fund',
   'Agency of Human Services',
   'The Legislature',
   'Champlain Housing Trust',
   'Downstreet Housing and Community Development',
   'Twin Pines Housing',
   'Windham Windsor Housing Trust'],
  'person': ['Brenda Torpy',
   'Eileen Peltier',
   'Nancy Owens',
   'Andrew Winter',
   'Elizabeth Bridgewater']},
 {'id': 'e1410f9c-99a1-473c-83c3-fccb3b3b2ab2',
  'org': ['Gaylord Area Convention and Tourism Bureau'],
  'location': ['the United States']},
 {'id': 'af8903b0-7658-4461-a770-960dbab328f0',
  'location': ['LILLINGTON, N.C.',
   'Lillington',
   'Harnett County',
   '15 Cater Lane',
   'Benson'],
  'chron': ['4:05 p.m.', '7:15 p.m.'],
  'person': ['Wayne Coats', 'Montice Williams']},
 {'id': 'ca53af4f-991f-4712-81e0-ddd1591b1705',
  'person': ['Michael Egbert'],
  'location': ['Decatur County', 'Vietnam', 'Texas', 'Iowa'],
  'org': ['U.S. Navy', 'Houston Police Department']},
 {'id': '79415524-ac65-4cee-99b7-18fc7265a0be',
  'location': ['Colorado',
   'Teller',
   'Douglas',
   'Larimer',
   'Eagle',
   'Denver',
   'Botanic Gardens',
   'Eagle County',
   'Douglas County',
   'Douglas county',
   'Larimer County',
   'Teller County',
   "Colorado's",
   "Douglas County's"],
  'org': ['Colorado Department of Public Health and Environment',
   'Colorado Department of Public and Environment',
   'The Board of Douglas County Commissioners'],
  'person': ['Jill Hunsaker Ryan', 'Roger Partridge', 'Jared Polis'],
  'chron': ['Memorial Day']},
 {'id': 'ddb781fd-762a-4a61-9969-cac261425f63',
  'org': ['The Department of Correctional Services',
   'The Tecumseh State Correctional Institution',
   'ACLU',
   'Judiciary Committee',
   'Department of Correctional Services',
   'Department of Corrections'],
  'person': ['Scott Frakes', 'Steve Lathrop'],
  'location': ['Lincoln',
   'Omaha',
   'West Claire Avenue',
   'South Coddington Avenue',
   'Southwest 40th Street',
   'Nebraska State Penitentiary',
   '4201 S. 14th St.',
   "Nebraska's",
   'Nebraska'],
  'money': ['$200 million',
   '$1.2 million',
   '$6.1 million',
   '$29.8 million',
   '$5 million',
   '$23.3 million',
   '$52 million'],
  'chron': ['May 1', 'July 1']},
 {'id': 'bda70352-5984-46a9-a891-119037c9c63d',
  'location': ['CASSOPOLIS, Mich.',
   'Cassopolis',
   'Gouverneur, New York',
   'Michiana',
   'Edwardsburg',
   'Calcium, New York',
   'Dailey Cemetery',
   'Dailey Road',
   'Dunning Street'],
  'person': ['Matthew Robert Finley',
   'Robert Dick',
   'Gloria Jean (Sawyer) Finley',
   'Robert D. (Laura) Finley Jr',
   'William (Peggy) Finley',
   'Frederick Robert Finley Sr',
   'Randy Scott Repczynski',
   'Scott Scheel'],
  'chron': ['May 15, 2020', 'Sept 16, 1967', '2 p.m.', 'May 29'],
  'org': ['Mercury Displacement Industries Inc.',
   'Edwardsburg Presbyterian Church',
   'Paul E. Mayhew Funeral Home']},
 {'id': '2ae29870-e433-4757-a94d-c495690238f5',
  'location': ['HORRY COUNTY, SC', 'Myrtle Beach', 'Ocean Boulevard'],
  'org': ['South Carolina Department of Employment and Workforce'],
  'person': ['Todd Timmerson', 'Brian Gregory']},
 {'id': 'ff516124-45e4-460d-b6d9-48fad5f25c62',
  'location': ['Baltimore',
   'St. Louis',
   'Detroit',
   'Philadelphia',
   'Washington, D.C.',
   'New York',
   'New York City',
   'New York State',
   "Brooklyn's",
   'Manhattan',
   'New York state'],
  'org': ['Ballou High School',
   "Ballou High School's",
   'William Floyd Elementary School',
   'Success Academy',
   "Success Academy's",
   'KIPP Infinity Middle School',
   'Crown Heights Success Academy'],
  'chron': ['November 2017'],
  'person': ['Thomas Sowell', "Bill de Blasio's"]},
 {'id': '2f872a57-25f2-45ea-ab4c-f02bf10c904c',
  'org': ['Genesee County Job Development Bureau',
   "Genesee County Legislature's",
   'Ways &amp; Means Committee',
   'Aldi',
   'Job Development Bureau',
   'Department of Labor',
   'Department of Social Services',
   'The Genesee County Job Development Bureau'],
  'person': ['Teresa Van Son',
   'Marianne Clattenburg',
   'Van Son',
   'Veronica Frost',
   'Mary Spaulding',
   'Rochelle Stein'],
  'location': ['Eastown Plaza', '587 E. Main St.'],
  'chron': ['Jan. 31, 2021'],
  'money': ['$243,800', '$23,000']},
 {'id': '5eceab7f-f37e-44f4-aba1-19ad9b10f8da',
  'person': ['Bill Holland',
   'Rachel Molina',
   'Gregg Wielenga',
   'Brigit Bennington',
   'Larry Bird',
   'Rene Ray De La Cruz'],
  'org': ['City Council',
   'Hesperia City Council',
   'Daily Press',
   "Sheriff's Department"],
  'chron': ['Tuesday, May 19', 'Fourth of July'],
  'money': ['$1,000', '$2,000', '$3,000', '$500', '$1,250'],
  'location': ["San Bernardino County Sheriff's Hesperia Station", 'Nevada'],
  'a': ['RDeLaCruz@VVDailyPress.com']},
 {'id': 'd5d89205-adb4-4139-8bf9-e958674a0da7',
  'location': ['New York', 'U.S.', 'New York City', "New York's"],
  'chron': ['Memorial Day'],
  'person': ['Andrew Cuomo',
   'President Trump',
   'Christopher Dunn',
   'Mark D. Levine'],
  'org': ['New York Civil Liberties Union', "New York City Council's"],
  'a': ['https://www.npr.org']},
 {'id': '0d06446d-a8fb-422d-a8a2-8e69c9be04ff',
  'location': ['MARTINSVILLE, Va.',
   'Virginia',
   'Martinsville',
   'Henry County',
   'Roanoke'],
  'person': ['Steve Draper', 'David Lee Morse', 'Pamela Morse'],
  'org': ['The Virginia State Police'],
  'chron': ['May 13']},
 {'id': 'f63cea4c-f478-4874-a350-41ec049ba56a',
  'location': ['ST. LOUIS', 'Riaza Square'],
  'person': ['Jarvis Childress'],
  'chron': ['11:00 a.m.']},
 {'id': '58ca5429-675c-442c-98de-ad84fd2cf8c2',
  'location': ['Victoria County'],
  'person': ['Sarah Michelle Armstrong']},
 {'id': '60405989-66ba-421d-a062-5848eb7b6dc7',
  'chron': ['Saturday, May 23, 2020', 'Memorial Day']},
 {'id': '97c847ae-5055-41ca-9f86-ea055963f1e7',
  'a': ['jim.lowe@rutlandherald.com',
   'jim.lowe@timesargus.com',
   'maccvt.org',
   'facebook.com/HouseOfLeMay',
   'youtube.com/houseoflemay',
   'brattleboromuseum.org',
   'www.studioplacearts.com',
   'www.vso.org',
   'www.vermontshakespeare.org',
   'www.mainstreetarts.org',
   'www.ptvermont.org'],
  'org': ['Morrisville Alliance for Culture &amp; Commerce',
   'PBS',
   'The Brattleboro Museum &amp; Art Center',
   'Alloy Orchestra',
   'The Vermont Symphony Orchestra',
   'University of Vermont',
   'University of Colorado',
   'UVM Department of Music',
   'Phoenix Books',
   'Preservation Trust of Vermont',
   'Montgomery Historical Society for Pratt Hall',
   'The Retreat Farm Inc.',
   'Center for Arts and Learning',
   "St. Michael's School",
   'The Meeting House on the Green',
   'Corner School Resource Center, Inc.',
   'Granville Corner School',
   'Union Church of New Haven Mills',
   'Starksboro Village Meeting House Society',
   'Fox Hill, Inc.'],
  'person': ["Jess Graham's",
   'Amber Live',
   '"Scottish" Francis Legge',
   'Fran&#231;ois Clemmons',
   "Amber LeMay's",
   "Mister Rogers'",
   'Roger Clark Miller',
   'Roger Ebert',
   'Jane Kittredge',
   'Shakespeare',
   'Vermont Shakespeare Festival',
   'Sylvia Parker',
   'Phil Scott',
   'Park McCullough House'],
  'location': ['Worcesters and Green Mountains',
   'Morrisville',
   'Route 100',
   'Stowe',
   'Burlington',
   'Middlebury',
   'Burma',
   'BARRE',
   'BURLINGTON',
   'the United States',
   'Berlin',
   'Providence, Rhode Island',
   'North Bennington',
   'Montpelier',
   'Poultney'],
  'chron': ['8 p.m. Sunday',
   'Friday, May 29',
   '7:30 p.m.',
   'June 5',
   'June 19',
   'June 8',
   'July 10',
   'June 22',
   'May 28',
   '4:30 p.m.',
   'June 4',
   'June 11',
   'July 7',
   'Tuesday, May 26'],
  'money': ['$10,000', '$100,000', '$5,000']},
 {'id': 'c637a047-60ff-4cb3-969e-5a0028b45cea',
  'org': ['Naples Daily News',
   'Republican Club of South Collier County',
   'CNN',
   'Publix',
   "Dick's Sporting Goods",
   'Daily News',
   'National Cancer Institute'],
  'location': ["Collier County's",
   'Southwest Florida',
   'Naples City Dock',
   'Naples Bay',
   'Jolley Bridge',
   'Marco Island',
   'Naples',
   'the United States',
   'Florida',
   'Lee County',
   'Collier County',
   'North Naples',
   "Florida's",
   'Fort Myers',
   'U.S.',
   'Fort Myers Beach'],
  'person': ["President Trump's",
   'Luke Larson',
   'Steve Loyd',
   'Melanie Chadwick',
   'Rebekah Jones',
   'Ms. Jones',
   'Raymond Brooks'],
  'chron': ['March 25, 2017', '10 a.m. Saturday', 'Memorial Day']},
 {'id': 'bd8ad3d7-68ca-4d46-a82b-e1ea096afa26',
  'person': ['Doug Moreau'],
  'org': ['Christian Brothers School']},
 {'id': 'ddc9b34b-3d42-4153-b618-8d0da636c5c6',
  'org': ['Hong Kong Restaurant', 'GoFundMe', 'Mooresville High'],
  'money': ['$18,000', '$20,000', '$10,000', '$1000'],
  'person': ['Bing Qiu', 'Jaden White'],
  'location': ['Wuhan, China']},
 {'id': '6cda90e4-92dc-403b-9515-904ce543b138',
  'org': ['NAME',
   'County Council',
   'City Council',
   'Ivy Tech College',
   'Home Center',
   'Crown Corporation',
   'Board of Commissioners',
   'County Health Department',
   'Indiana Department of Health',
   "Henry County Sheriff's Department",
   'New Castle Correctional Facility',
   'Boars Head &amp; Crown Corporation'],
  'person': ['Kim L. Cronk'],
  'location': ['New Castle',
   'Henry County Jail',
   'W.G. Smith Building',
   'I-70']},
 {'id': '5723d949-29e0-4215-ba56-16f64ed33829',
  'person': ['Annie Glenn',
   'Sherrod Brown',
   'John Glenn',
   "John Glenn's",
   'Connie Schultz'],
  'org': ['U.S. Senate',
   'The New York Times',
   'Hollins College',
   "Kent State University's"],
  'chron': ['December 2016'],
  'a': ['schultz.connie@gmail.com']},
 {'id': 'e11c8456-3a7b-48c8-909f-1a5993b17091',
  'location': ['LEXINGTON', 'Kentucky'],
  'person': ['John Calipari',
   'Ashton Hagans',
   'Immanuel Quickley',
   'Nick Richards'],
  'org': ['NCAA'],
  'chron': ['May 1']},
 {'id': 'e3ea4a1c-e43f-4c4b-b491-87bf48adf89f',
  'location': ['HOLLAND',
   'Holland',
   'Centennial Park',
   'Windmill Island Gardens',
   'Parks and Cemetery',
   'City of Holland',
   'the Netherlands',
   'Michigan'],
  'org': ['City of Holland Parks and Recreation Department'],
  'person': ['Jamie Scott'],
  'chron': ['March 16'],
  'money': ['$48 million']},
 {'id': '1e948691-372e-4860-86e9-9f594ae98918',
  'location': ['OKLAHOMA CITY', 'Oklahoma'],
  'chron': ['Ramadan', 'Sunday, May 24'],
  'person': ['EED-al-FITTER', 'Adam Soltani']},
 {'id': '11bab4cb-310f-43b0-8e0c-51dee6d2aa9f',
  'location': ['Clay',
   'Webster',
   'Meriwether',
   'Georgia',
   'Lee',
   'Barbour',
   'Alabama'],
  'chron': ['Memorial Day']},
 {'id': '41e96803-31a4-47bf-9e5b-9af18497f0fb',
  'location': ['WEST JORDAN, Utah', 'West Jordan', 'Redwood Road'],
  'chron': ['3 a.m.'],
  'org': ['West Jordan Police']},
 {'id': '29733af7-66b6-461c-ac93-4cd20ef38ca8',
  'person': ['Davide Moretti',
   'Olimpia Milano',
   'Emiliano Carchia',
   'Kyler Edwards',
   'A.J. Walker',
   'Mac McClung',
   'Terrence Shannon Jr',
   'Kevin McCullar',
   'Clarence Nadolny',
   'Avery Benson',
   'Tyreek Smith',
   'Joel Ntambwe',
   'Jamarius Burton',
   'Marcus Santos-Silva',
   'Micah Peavy',
   'Chibuzo Agbo'],
  'chron': ['May 17', 'May 18', 'April 25'],
  'org': ['Texas Tech',
   'NCAA',
   'Big 12 Conference',
   'Air Force',
   'UNLV',
   'Clarendon College',
   'Texas Tech.'],
  'location': ['Italy',
   'Milan',
   'Georgetown',
   'Auburn',
   'Kentucky',
   'Duncanville',
   'San Diego St.',
   'Arlington, Texas']},
 {'id': 'f6f391ca-749a-4bfa-9d9c-193104a5d237',
  'org': ['Disney World',
   'Disney',
   "ESPN's",
   'ESPN Wide World',
   'ESPN',
   'ABC',
   'University of Idaho',
   'New York Islanders',
   'Colorado College',
   'Pistons G League',
   'University of Texas',
   'Sacred Heart University'],
  'location': ['Las Vegas',
   'HP Field House',
   'Visa Athletic Center',
   'Dickies Arena',
   'Gateway Center',
   'College Park',
   'UD Arena',
   'Liberty Arena',
   'Rupp Arena',
   'Wells Fargo Center',
   'Idaho Central Credit Union Arena',
   'Legacy Arena',
   'Belmont Park Arena',
   'Palm Springs AHL Arena',
   'Robson Arena',
   'Seattle NHL Arena',
   'UConn Hockey Arena',
   'Wayne State University Arena',
   'Bankers Life Fieldhouse',
   'Fairfield University Convocation Center',
   'Kaplan Arena',
   'Savannah Arena',
   'New Calgary Flames Arena',
   'New Los Angeles Clippers Arena'],
  'person': ['Mike Bass'],
  'a': ['pic.twitter.com/8gfK5iVXs8'],
  'chron': ['May 23, 2020', 'July 1']},
 {'id': 'dcb1a853-c0a1-49a8-b2dd-674e06b80a39',
  'person': ['Sacia Vanderpool',
   'Verner Suomi',
   'Jonathan Tsipis',
   'Tylor Coley',
   'Beaver Dam',
   'Maty Wilke'],
  'location': ['Byron, Minnesota',
   'Madison',
   'Northern Colorado',
   'Southern Utah'],
  'org': ['University of Wisconsin',
   'UW',
   'Texas Tech',
   'Kansas State',
   "Badgers' Elite Camp",
   'North Dakota State',
   'Ivy League']},
 {'id': 'd5f19b61-ce53-4609-b802-857614b34537',
  'location': ['EL PASO, Texas', 'El Paso'],
  'person': ['Rosie Soria', 'Bonnie Soria Najera', "Leo Soria's"],
  'chron': ['Friday, May 15', 'Memorial Day'],
  'org': ['University Medical Center']},
 {'id': 'ff0587d0-5c06-412e-885a-31faf0151e77',
  'location': ['CHESTERFIELD, Mo.', 'Chesterfield, Missouri', 'Manchester'],
  'org': ['Dierbergs Markets', 'NBC'],
  'person': ['Rick Rodemacher']},
 {'id': '9717f3ec-6d4b-434e-82de-8a52552f8931',
  'location': ['the United States', 'New York'],
  'person': ['Amber Rose Isaac',
   'Priska Neely',
   'J. Marion Sims',
   'Julia Simon']},
 {'id': '9cb2e37a-1a40-4928-be23-d74ae391b89f',
  'location': ["Pennsylvania's", 'Pennsylvania', 'Philadelphia'],
  'chron': ['June 2', 'May 26'],
  'person': ['Conrad Benner', 'Jen Devor', 'Martha Rich', 'Marian Bailey'],
  'a': ['StreetsDept.com']},
 {'id': '87ae9d52-43a2-4b7c-9286-8acc7e2dd1fe',
  'org': ['Texas Railroad Commission',
   'Field Development',
   'EOG Resources',
   'Challenger Unit C-B SA',
   'Mohr-Hons Medina-Hoffman SA',
   'Devon Energy Production',
   'Jordan A SA',
   'Witte-Spahn-Miller SA',
   'Mikkelson-Witte SA'],
  'location': ['Austin',
   'Karnes County',
   'Karnes City',
   'Gillett',
   'DeWitt County',
   'Nordheim',
   'Eagle Ford Shale',
   'Yoakum',
   'Kenedy',
   'Falls City'],
  'a': ['VictoriaAdvocate.com/eedition'],
  'person': ['Field Name',
   'Eagle Ford',
   'W.D. Burnett',
   'D.E. Seguin',
   'C.S. Hardwick',
   'F. Ruiz',
   'Austin Chalk']},
 {'id': '0819535b-e9ea-4d53-9100-22435397bef7',
  'location': ['Wampsville, N.Y.',
   'Madison County',
   'Madison County Courthouse',
   'Wampsville, NY',
   'Veteran',
   'New York state',
   'Oneida'],
  'chron': ['Memorial Day', 'Monday, May 25', '11 a.m.'],
  'org': ['War Veterans Memorial Corporation'],
  'person': ['John Becker', 'Don Smith', 'Victor Ramirez']},
 {'id': '45404433-b299-4c0f-a938-08e88b550135',
  'org': ['Town Council',
   'The Mooresville Town Council',
   'The Morgan County Fair Board',
   '1749 Hospital Dr.',
   'The Mooresville Consolidated School Corp.',
   'The Brooklyn Town Council'],
  'chron': ['6:30 p.m.', 'Tuesday, June 2', '7 p.m.', 'Tuesday, May 26'],
  'location': ['4 E. Harrison St.',
   'Morgan County Fairgrounds',
   '11 W. Carlisle St.',
   'BROOKLYN'],
  'person': ['Fair Board']},
 {'id': '9020f584-79c9-45c5-b8e4-d02b18227c2f',
  'person': ["Donald Trump's",
   "Ted Cruz's",
   'Shelley Ann Luther',
   'Sean Hannity',
   'Rosa Parks',
   'Phillip Bradley',
   'Warren Norred',
   'Eric Moy&#233;',
   'Peter Johnson',
   'Greg Abbott',
   'Shelley Luther',
   'Shelley Byrd',
   'Kenny Porterfield',
   'Barry Luther',
   'Tim Georgeff',
   'President Trump',
   'Clay Jenkins',
   'Dan Patrick',
   'Sarah Palin',
   'Reverge Anselmo',
   'Tim McDonald',
   'Rick Hire',
   'Jacob Vaughn',
   'Tela Mange',
   'Jenkins',
   'Eric Johnson',
   'Lisa Santos'],
  'location': ["Dallas'",
   'North Dallas',
   'Caribbean',
   'Frisco',
   'George Allen Courthouse',
   'Texas',
   'Illinois',
   'Irvine, California',
   "Mission Viejo's",
   'Arlington',
   'Allen',
   'Seattle',
   'Castle Hills',
   'Lewisville',
   'Denton County',
   'Mexico',
   'U.S.',
   'Dallas',
   'Galveston',
   'Cozumel',
   'Yucatan Peninsula',
   'Dallas County',
   'Brenham',
   'Kansas City',
   'Houston',
   'Hollywood',
   'Laredo',
   'Coit Road',
   'Belt Line Road',
   'Plano'],
  'money': ['$500,000',
   '$18,000',
   '$2,000',
   '$1.2 million',
   '$125,000',
   '$2,850',
   '$505,000',
   '$1,000',
   '$7,000',
   '$500,085',
   '$4,000',
   '$1,100',
   '$5',
   '$18,525',
   '$2,500'],
  'org': ['Fox News',
   'GoFundMe',
   'The View',
   'who',
   'Facebook',
   'Saddleback College',
   'Sam Houston State',
   'Centennial High School',
   'Ford',
   'The Dallas Morning News',

In [25]:
total_org = 0
for i in range(50):
    if "org" in result[i].keys():
        total_org += len(result[i]["org"])

In [26]:
total_org # Total different org entities extracted by Naviga from 50 documents

199

In [73]:
df = pd.DataFrame(columns=["CompanyCode","Company"])

In [74]:
df

Empty DataFrame
Columns: [CompanyCode, Company]
Index: []

In [75]:
result = []
offset = 0

count = 1000

k=0
count_codes = 0

for j in range(50):
    
    df.loc[k,"CompanyCode"] = "Document "+str(j)
    df.loc[k,"Company"] = "Document "+str(j)
    k+=1
    df.loc[k,"CompanyCode"] = ""
    df.loc[k,"Company"] = ""
    k+=1
    
    reqparams = {'offset':offset,'count':count}
    reqparams['filters']='id::'+sayan_id[j]
    discovery_data2 = dh_help.getDiscoveryData(discovery_config,reqparams)
    
    res={}

    #doc = discovery_data2["results"]
    res["id"]=sayan_id[j]

    source = discovery_data2["results"][0]['html']
    batRegex = re.compile(r'(.<[a-zA-Z]*[^>]*>(.+?)</[a-zA-Z]*>)')

    lists = re.findall(batRegex,source)
    len_ = len(lists)
    for i in range(len_):
        lists[i] = list(lists[i])

    regex = re.compile(r'\svalue="(.*?)"')
    subst = ''


    for i in range(len_):
        bregex = re.findall(regex,lists[i][0])
        if(len(bregex)!=0):
            lists[i][0] = lists[i][0].replace(bregex[0], subst)

            lists[i][0]=lists[i][0].rsplit('/',1)
            lists[i][0][1]=lists[i][0][1].rsplit('>',1)
            keyword = lists[i][0][1][0]
            value = lists[i][1]
            
            if keyword == "org":
                if (bregex[0],value) not in zip(df["CompanyCode"],df["Company"]):
                    df.loc[k,"CompanyCode"] = bregex[0]
                    df.loc[k,"Company"] = value
                    k+=1
                    count_codes+=1
        else:
            
            lists[i][0]=lists[i][0].rsplit('/',1)
            lists[i][0][1]=lists[i][0][1].rsplit('>',1)
            keyword = lists[i][0][1][0]
            value = lists[i][1]
            if keyword == "org": 
                if value not in list(df["Company"]):
                    df.loc[k,"CompanyCode"] = ""
                    df.loc[k,"Company"] = value
                    k+=1
    k+=1
    df.loc[k,"CompanyCode"] = ""
    df.loc[k,"Company"] = ""
    k+=1

offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0
offset in query = 0

In [76]:
df.head()

        CompanyCode         Company
0        Document 0      Document 0
1
2  ACORN:6001131364  Chicago Bulls'
3                            ESPN's
4  ACORN:6001131381  Boston Celtics

In [77]:
df.shape

(342, 2)

In [79]:
df.to_excel("CompanyCodes.xlsx",index=False)

In [80]:
count_codes  # Number of different CompanyCodes in 50 documents

51

In [85]:
print("")
print("Count_codes : ",count_codes)
print("")
print("Total_org : ",total_org)
print("")

Count_codes :  51

Total_org :  199

# For counting numbers

In [ ]:
D = pd.DataFrame(columns=["companyCode","org_html","company_disc"])

In [ ]:
D

In [ ]:
data_disc = json.load(open("first_50_sayan.json"))

In [ ]:
data_disc

In [ ]:
#     try:
#         df.loc[j,""] = 
    
#     try:
#         D.loc[j,"companyCode"] = len(discovery_data2["results"][0]['companyCode'])       
#     except:
#         D.loc[j,"companyCode"] = 0
        
#     try:        
#         D.loc[j,"org_html"] = len(result[j]["org"])
#     except:        
#         D.loc[j,"org_html"] = 0
    
#     try:        
#         D.loc[j,"company_disc"] = len(data_disc[j]["Company"])
#     except:        
#         D.loc[j,"company_disc"] = 0
    
#     D.loc[j,"companyCode"] = len(discovery_data2["results"][0]['companyCode'])
#     D.loc[j,"org"] = len(result[j]["org"])

In [56]:
D["companyCode"]=D["companyCode"].replace(26,1)

In [57]:
D

    companyCode org_html company_disc
0             7        9            1
1             0        2            0
2             0        0            0
3             4        8            0
4             1        1            1
5             0        3            1
6             0        2            0
7             1        7            2
8             0        1            0
9             0        0            0
10            0        2            0
11            1        3            0
12            1        6            0
13            0        3            1
14            1        1            1
15            0        7            0
16            1        8            1
17            0        4            0
18            0        2            1
19            0        1            0
20            0        0            0
21            0        0            0
22            0        0            0
23            2       20            4
24            4        7            2
25            0        1            1
26            1        3            2
27            2       12            2
28            2        4            1
29            0        1            0
30            0        1            1
31            0        0            0
32            0        0            0
33            0        1            0
34            2        7            1
35            6       12            4
36            0        7            0
37            1        1            1
38            1        2            2
39            0        0            0
40            0        0            0
41            3        9            9
42            0        1            2
43            0        6            0
44           11       23            2
45            0        2            0
46            0        3            2
47            2        5            1
48            0        1            0
49            0        0            1

In [58]:
offset = 0
count = 10

reqparams = {'offset':offset,'count':count}
reqparams['filters']='id::'+sayan_id[44]
discovery_data2 = dh_help.getDiscoveryData(discovery_config,reqparams)

offset in query = 0

In [59]:
discovery_data2["results"][0]['companyCode']

['ACORN:A.4098318050#6#60#60',
 'ACORN:A.0757421235#6#60#60',
 'NASDAQ-NMS:FB#6#60#60',
 'ACORN:A.4019377134#6#60#60',
 'NYSE:F#6#60#60',
 'ACORN:A.3125986960#6#60#60',
 'NYSE:AHC#6#60#60',
 'ACORN:A.1554191032#6#60#60',
 'ACORN:A.0580537411#6#60#60',
 'ACORN:A.3974939109#6#60#60',
 'ACORN:A.0153829789#6#60#60']

In [60]:
result[44]["org"]

['Fox News',
 'GoFundMe',
 'The View',
 'who',
 'Facebook',
 'Saddleback College',
 'Sam Houston State',
 'Centennial High School',
 'Ford',
 'The Dallas Morning News',
 "World Health Organization's",
 "Center for Disease Control and Prevention's",
 'Royal Caribbean',
 "ABC's",
 'Blue Bell Creameries',
 'Texas Supreme Court',
 'Lew Sterrett Justice Center',
 'GOP',
 "Small Business Administration's",
 'Republican Party',
 'Texas Department of Licensing and Regulation',
 'Morning News',
 'Sola Salon']

In [61]:
data_disc[44]["Company"]

['Facebook', 'Trump']