In [26]:
import json
import numpy as np
import pandas as pd

In [3]:
data_ent = json.load(open("first_50_sayan.json"))

In [5]:
data_ner = json.load(open("JSON_Spacy.json"))

In [6]:
data_ner = data_ner["All_sp"][:50]

In [9]:
len(data_html)

50

In [19]:
ent_=[]
ner_=[]
html_=[]

In [43]:
for i in range(50):
    ner_.append(len(data_ner[i].keys())-1)

In [52]:
data_comp = pd.DataFrame(data=list(zip(ent_,ner_,html_)),columns=['Entity','Spacy','Html'])

In [54]:
data_comp.head()

   Entity  Spacy  Html
0      10     14     3
1       6      8     4
2       7      6     4
3       5     10     4
4       7      7     4

In [98]:
ent_count=[]
ner_count=[]
html_count=[]

In [99]:
for j in range(50): 
    count=0
    for i in (list(data_ent[j].keys())[1:]):
        count+=len(data_ent[j][i])
    ent_count.append(count)

In [102]:
for j in range(50): 
    count=0
    for i in (list(data_ner[j].keys())[1:]):
        count+=len(data_ner[j][i])
    ner_count.append(count)

In [101]:
for j in range(50): 
    count=0
    for i in (list(data_html[j].keys())[1:]):
        count+=len(data_html[j][i])
    html_count.append(count)

In [104]:
len(html_count)

50

In [90]:
a=data_ent[0].keys()
list(a)[0]

'id'

In [105]:
data_comp["ent_count"]=ent_count

In [107]:
data_comp["spacy_count"]=ner_count

In [108]:
data_comp["html_count"]=html_count

In [316]:
data_comp.head()

   Entity  Spacy  Html  ent_count  spacy_count  html_count
0      10     14     3         47          139          33
1       6      8     4         10           22          12
2       7      6     4         26           38          16
3       5     10     4         43           79          31
4       7      7     4         16           28           8

In [426]:
data_comp.sum()//50

Entity          5
Spacy           8
Html            3
ent_count      20
spacy_count    45
html_count     16
dtype: int64

# Creating Dataframe for Data_ent

In [127]:
entity_type=['Location',
 'Person',
 'Organization',
 'JobTitle',
 'Company',
 'Quantity',
 'Facility',
 'GeographicFeature',
 'EmailAddress',
 'PrintMedia',
 'HealthCondition',
 'Crime',
 'Sport',
 'Drug',
 'TwitterHandle',
 'Hashtag',
 'Broadcaster',
 'Movie',
 'Vehicle',
 'Award',
 'Anatomy',
 'NaturalEvent',
 'TelevisionShow',
 'SportingEvent',
 'MusicGroup',
 'IPAddress']

In [139]:
df_ent_type = pd.DataFrame(columns=entity_type)

In [140]:
df_ent_type

Empty DataFrame
Columns: [Location, Person, Organization, JobTitle, Company, Quantity, Facility, GeographicFeature, EmailAddress, PrintMedia, HealthCondition, Crime, Sport, Drug, TwitterHandle, Hashtag, Broadcaster, Movie, Vehicle, Award, Anatomy, NaturalEvent, TelevisionShow, SportingEvent, MusicGroup, IPAddress]
Index: []

[0 rows x 26 columns]

In [141]:
for j in range(50):
    row=[]
    for type in entity_type:
        if type in data_ent[j].keys():
            row.append(len(data_ent[j][type]))
        else:
            row.append(0)
    df_ent_type.loc[j]=row

In [143]:
df_ent_type.head()

,Location,Person,Organization,JobTitle,Company,Quantity,Facility,GeographicFeature,EmailAddress,PrintMedia,...,Broadcaster,Movie,Vehicle,Award,Anatomy,NaturalEvent,TelevisionShow,SportingEvent,MusicGroup,IPAddress
0,3,19,13,1,1,6,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0
1,3,1,3,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,4,4,2,0,10,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,18,11,0,0,8,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,5,0,1,1,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [427]:
df_ent_type.sum()

Location             203.0
Person               274.0
Organization         180.0
JobTitle              50.0
Company               47.0
Quantity             159.0
Facility              67.0
GeographicFeature     10.0
EmailAddress           2.0
PrintMedia             8.0
HealthCondition        8.0
Crime                  3.0
Sport                 11.0
Drug                   0.0
TwitterHandle          1.0
Hashtag                1.0
Broadcaster            3.0
Movie                  0.0
Vehicle                1.0
Award                  0.0
Anatomy                0.0
NaturalEvent           0.0
TelevisionShow         1.0
SportingEvent          0.0
MusicGroup             0.0
IPAddress              0.0
dtype: float64

# Creating Dataframe for Data_spacy

In [150]:
entity_type_2=[]

In [151]:
for i in range(50):
    l=list(data_ner[i].keys())
    for j in l:
        if j not in entity_type_2:
            entity_type_2.append(j)

In [164]:
entity_type_2=entity_type_2[1:]

In [171]:
df_ner_type = pd.DataFrame(columns=entity_type_2)

In [172]:
df_ner_type

Empty DataFrame
Columns: [CARDINAL, ORG, DATE, FAC, PERSON, WORK_OF_ART, LOC, ORDINAL, GPE, NORP, PERCENT, QUANTITY, PRODUCT, MONEY, EVENT, TIME, LAW, LANGUAGE]
Index: []

In [173]:
for j in range(50):
    row=[]
    for type in entity_type_2:
        if type in data_ner[j].keys():
            row.append(len(data_ner[j][type]))
        else:
            row.append(0)
    df_ner_type.loc[j]=row

In [175]:
df_ner_type.head()

,CARDINAL,ORG,DATE,FAC,PERSON,WORK_OF_ART,LOC,ORDINAL,GPE,NORP,PERCENT,QUANTITY,PRODUCT,MONEY,EVENT,TIME,LAW,LANGUAGE
0,31,22,27,1,31,3,1,5,6,2,5,2,1,2,0,0,0,0
1,2,4,7,3,2,0,0,1,2,0,0,0,0,0,1,0,0,0
2,0,7,9,0,7,0,0,0,5,0,3,0,0,7,0,0,0,0
3,14,12,11,1,24,0,0,1,8,0,0,4,0,0,2,2,0,0
4,2,4,10,0,6,0,1,0,3,0,0,0,0,0,0,2,0,0

In [428]:
df_ner_type.sum()

CARDINAL       298.0
ORG            437.0
DATE           407.0
FAC             34.0
PERSON         410.0
WORK_OF_ART     31.0
LOC             20.0
ORDINAL         36.0
GPE            248.0
NORP            39.0
PERCENT         40.0
QUANTITY       114.0
PRODUCT         14.0
MONEY           58.0
EVENT           12.0
TIME            47.0
LAW              9.0
LANGUAGE         6.0
dtype: float64

# Creating Dataframe for Html

In [176]:
entity_type_3 = []

In [177]:
for i in range(50):
    l=list(data_html[i].keys())
    for j in l:
        if j not in entity_type_3:
            entity_type_3.append(j)

In [179]:
entity_type_3=entity_type_3[1:]

In [180]:
df_html_type = pd.DataFrame(columns=entity_type_3)

In [181]:
df_html_type

Empty DataFrame
Columns: [person, org, location, chron, money, a]
Index: []

In [182]:
for j in range(50):
    row=[]
    for type in entity_type_3:
        if type in data_html[j].keys():
            row.append(len(data_html[j][type]))
        else:
            row.append(0)
    df_html_type.loc[j]=row

In [184]:
df_html_type.head()

  person org location chron money  a
0     22   9        2     0     0  0
1      1   2        6     3     0  0
2      3   0        5     1     7  0
3     18   8        4     0     0  1
4      3   1        2     2     0  0

In [429]:
df_html_type.sum()

person      214.0
org         199.0
location    266.0
chron        89.0
money        51.0
a            20.0
dtype: float64

# Comparing Location

In [190]:
df_loc = pd.DataFrame(df_ent_type["Location"])

In [192]:
df_loc["Html_Loc"]=df_html_type["location"]

In [194]:
df_loc["Spacy_loc"]=df_ner_type["LOC"]

In [195]:
df_loc["Spacy_gpe"]=df_ner_type["GPE"]

In [313]:
df_loc.head()

  Location Html_Loc Spacy_loc Spacy_gpe
0        3        2         1         6
1        3        6         0         2
2        4        5         0         5
3        5        4         0         8
4        3        2         1         3

In [314]:
df_loc.sum()

Location     203.0
Html_Loc     266.0
Spacy_loc     20.0
Spacy_gpe    248.0
dtype: float64

In [447]:
def comp1(da,db,dc,doc_num):
    print("Data ent location :")
    try:
        print(da[doc_num]["Location"])
    except:
        pass
    print("--"*50)
    
    print("Data ent Geographic Feature :")
    try:
        print(da[doc_num]["GeographicFeature"])
    except:
        pass
    print("--"*50)
    
    try:
        print("Data ner location :")
        print(db[doc_num]["LOC"])
    except:
        pass
    print("--"*50)
    print("Data ner GPE :")
    
    try:
        print(db[doc_num]["GPE"])
    except:
        pass
    
    print("--"*50)
    print("Data Html location :")
    try:
        print(dc[doc_num]["location"])
    except:
        pass

In [448]:
def comp2(da,db,dc,doc_num):
    print("Data ent Quantity :")
    try:
        print(da[doc_num]["Quantity"])
    except:
        pass
    print("--"*50)
    
    print("Data ner cardinal :")
    try:
        print(db[doc_num]["CARDINAL"])
    except:
        pass
    print("--"*50)
    
    try:
        print("Data ner ordinal :")
        print(db[doc_num]["ORDINAL"])
    except:
        pass
    print("--"*50)
    print("Data ner Quantity :")
    
    try:
        print(db[doc_num]["QUANTITY"])
    except:
        pass
    
    print("--"*50)
    print("Data ner Money :")
    
    try:
        print(db[doc_num]["MONEY"])
    except:
        pass
    
    print("--"*50)
    
    
    print("Data ner percent:")
    
    try:
        print(db[doc_num]["PERCENT"])
    except:
        pass
    
    print("--"*50)
    
    print("Data Html money :")
    try:
        print(dc[doc_num]["money"])
    except:
        pass

In [449]:
# Conclusion : Data_html has highest entites for location among 3 and has found to be most accurate

In [452]:
comp1(data_ent,data_ner,data_html,2)

Data ent location :
['Texas', 'Gregg County', 'Longview', 'Houston']
----------------------------------------------------------------------------------------------------
Data ent Geographic Feature :
['Spring Hill']
----------------------------------------------------------------------------------------------------
Data ner location :
----------------------------------------------------------------------------------------------------
Data ner GPE :
['Longview', 'Gregg County', 'U.S.', 'Abbott', 'Texas']
----------------------------------------------------------------------------------------------------
Data Html location :
['Gregg County', 'Texas', 'Longview', 'U.S.', "Texas'"]

In [440]:
comp2(data_ent,data_ner,data_html,0)

Data ent Quantity :
['50%', 'five months', 'eight year', '13 years', '10-year', '13-year']
----------------------------------------------------------------------------------------------------
Data ner cardinal :
['138', 'three', 'nine', '27.1', '20', '100', '2020', 'eight', '6', '50\x9640\x9690', '30', '9', 'One', 'five', '12', '146', 'one', 'six', 'seven', '33', '5', '10', '38,387', 'two', 'four', 'one half', '19.5', '50.4', '11', '181', '25.68']
----------------------------------------------------------------------------------------------------
Data ner ordinal :
['second', 'first', 'third', 'sixth', 'fourth']
----------------------------------------------------------------------------------------------------
Data ner Quantity :
['11.2 apg', '7.4 apg']
----------------------------------------------------------------------------------------------------
Data ner Money :
['7.4 rpg', '25.7 rpg']
----------------------------------------------------------------------------------------------------
Data ner percent:
['90%', 'Birdshot 50%', '33%', '50%', '40%']
----------------------------------------------------------------------------------------------------
Data Html money :

In [439]:
data_ent[32]

{'id': '00078de5-ce16-4158-945c-4e620c046298',
 'Location': ['Meriwether Counties', 'Alabama', 'Georgia'],
 'Facility': ['Clay'],
 'Person': ['Webster', 'Barbour', 'Lee'],
 'Quantity': ['One inch']}

In [348]:
data_ner[48]

{'id': 'fb936514-3376-4f45-aabe-1688b1fd569f',
 'CARDINAL': ['37', 'one', 'three', '2020', 'two'],
 'NORP': ['North Middlesex'],
 'PERSON': ['Lowell', 'Martina Nkwantah', 'Nkwantah', 'John Caouette'],
 'DATE': ['this year',
  'the season',
  'winter',
  'her second year',
  'the fall',
  'Last year',
  'last outdoor season',
  'next season',
  'the next week',
  'this past winter',
  'decade ago',
  'just last season',
  'this spring'],
 'ORG': ['Nkwantah',
  "the River Hawks'",
  'Patriots',
  'Division 1',
  'MIAA',
  'NM'],
 'QUANTITY': ['11 inches', 'around 124 feet', '118 feet'],
 'ORDINAL': ['second', 'first', 'fourth'],
 'LOC': ["New England's", 'New England'],
 'GPE': ['North Middlesex', 'District']}

In [329]:
data_ent[47]

{'id': '000a7580-281f-40bc-9960-0fa6f2c6ac11',
 'Person': ['Fred Krull', 'Joan Piper Krull', 'John Swallow', 'Brendan'],
 'Organization': ['Carthage College',
  'EY',
  'Leadership Council',
  'Los Angeles',
  'PLC',
  'Illinois University'],
 'Location': ['Carthage', 'Carthage', 'Los Angeles', 'Kenosha'],
 'Facility': ['Carthage College', 'The Tower Residence Hall'],
 'JobTitle': ['President',
  'principal',
  'fiduciary',
  'advisory board',
  'chairman',
  'professional services'],
 'Company': ['Ernst & Young'],
 'Quantity': ['three years', 'six years']}

In [415]:
data_html[4]

{'id': '70ebe48c-a75d-4236-9ed6-4af0d8e1a421',
 'location': ['EL PASO, Texas', 'El Paso'],
 'person': ['Rosie Soria', 'Bonnie Soria Najera', "Leo Soria's"],
 'chron': ['Friday, May 15', 'Memorial Day'],
 'org': ['University Medical Center']}

In [360]:
data_ent[4]

{'id': '00010c62-58cb-4b26-a3ef-3db32b243243',
 'Person': ['Bonnie Soria Najera',
  'Rosie Soria',
  'Leo Soria',
  'KTSM',
  'remdesivir'],
 'Facility': ['Soria family', 'Medical Center'],
 'Location': ['EL PASO', 'Texas', '47-years'],
 'Company': ['El Paso'],
 'JobTitle': ['Trustee'],
 'HealthCondition': ['pandemic', 'fever'],
 'Quantity': ['two days', '47-years']}

In [417]:
data_ner[6]

{'id': '92123e9a-a03a-48f1-9f57-59319648b9a0',
 'DATE': ['2018',
  '1966',
  'last Wednesday',
  'Nov. 6, 2018',
  'many years',
  'years ago',
  'more than a year and a half'],
 'GPE': ['Vermont', 'Montpelier', 'U.S.', 'Vietnam'],
 'PERSON': ['Lyndon Johnson',
  'George Aiken',
  'Michael Sherman',
  'Montpelier',
  'Bashara'],
 'ORG': ['the Montpelier City Council', 'Aiken', 'the Vermont Supreme Court'],
 'CARDINAL': ['2,459', '1,877'],
 'QUANTITY': ['27 feet'],
 'NORP': ['Hallelujah']}