In [1]:
import pandas as pd

In [2]:
df_1=pd.read_excel("Naviga_part_1.xlsx")
df_2=pd.read_excel("Naviga_part_2.xlsx")
df_3=pd.read_excel("Naviga_part_3.xlsx")
df_4=pd.read_excel("Naviga_part_4.xlsx")

In [115]:
df_1.columns

Index(['Dis_Person', 'Doc_id_disc_per', 'corpus_id_disc_per',
       'provider_id_disc_per', 'Dis_Company', 'Doc_id_disc_com',
       'corpus_id_disc_com', 'provider_id_disc_com', 'Dis_location',
       'Doc_id_disc_loc', 'corpus_id_disc_loc', 'provider_id_disc_loc'],
      dtype='object')

### Person

In [92]:
Person=[]
Doc_id_Disc_per=[]
corpus_Doc_id_Disc_per=[]
pro_id_Disc_per=[]

In [102]:
i=0
for l in [Person,Doc_id_Disc_per,corpus_Doc_id_Disc_per,pro_id_Disc_per]:
        l.extend(df_4.iloc[:,i].dropna().values)
        i+=1

In [103]:
len(Person)

257130

In [105]:
uni_Person=dict()
for i in range(len(Person)):
    if Person[i] in uni_Person:
        uni_Person[Person[i]].append(Doc_id_Disc_per[i])
    else:
        uni_Person[Person[i]]=[]
        uni_Person[Person[i]].append(Doc_id_Disc_per[i])
Doc_id_Disc_per=list((uni_Person.values()))

uni_Person=dict()
for i in range(len(Person)):
    if Person[i] in uni_Person:
        uni_Person[Person[i]].append(corpus_Doc_id_Disc_per[i])
    else:
        uni_Person[Person[i]]=[]
        uni_Person[Person[i]].append(corpus_Doc_id_Disc_per[i])
corpus_Doc_id_Disc_per=list((uni_Person.values()))

uni_Person=dict()
for i in range(len(Person)):
    if Person[i] in uni_Person:
        uni_Person[Person[i]].append(pro_id_Disc_per[i])
    else:
        uni_Person[Person[i]]=[]
        uni_Person[Person[i]].append(pro_id_Disc_per[i])
pro_id_Disc_per=list((uni_Person.values()))
Person=list((uni_Person.keys()))

### Company

In [125]:
Company=[]
Doc_id_Disc_com=[]
corpus_Doc_id_Disc_com=[]
pro_id_Disc_com=[]

In [126]:
for df in [df_1,df_2,df_3,df_4]:
    i=4
    for l in [Company,Doc_id_Disc_com,corpus_Doc_id_Disc_com,pro_id_Disc_com]:
            l.extend(df.iloc[:,i].dropna().values)
            i+=1

In [134]:
len(Company)

76058

In [138]:
uni_Company=dict()
for i in range(len(Company)):
    if Company[i] in uni_Company:
        uni_Company[Company[i]].append(Doc_id_Disc_com[i])
    else:
        uni_Company[Company[i]]=[]
        uni_Company[Company[i]].append(Doc_id_Disc_com[i])
Doc_id_Disc_com=list((uni_Company.values()))

uni_Company=dict()
for i in range(len(Company)):
    if Company[i] in uni_Company:
        uni_Company[Company[i]].append(corpus_Doc_id_Disc_com[i])
    else:
        uni_Company[Company[i]]=[]
        uni_Company[Company[i]].append(corpus_Doc_id_Disc_com[i])
corpus_Doc_id_Disc_com=list((uni_Company.values()))

uni_Company=dict()
for i in range(len(Company)):
    if Company[i] in uni_Company:
        uni_Company[Company[i]].append(pro_id_Disc_com[i])
    else:
        uni_Company[Company[i]]=[]
        uni_Company[Company[i]].append(pro_id_Disc_com[i])
pro_id_Disc_com=list((uni_Company.values()))
Company=list((uni_Company.keys()))

In [139]:
len(Company)

41411

### Location

In [149]:
Location=[]
Doc_id_Disc_loc=[]
corpus_Doc_id_Disc_loc=[]
pro_id_Disc_loc=[]

In [150]:
for df in [df_1,df_2,df_3,df_4]:
    i=8
    for l in [Location,Doc_id_Disc_loc,corpus_Doc_id_Disc_loc,pro_id_Disc_loc]:
            l.extend(df.iloc[:,i].dropna().values)
            i+=1

In [151]:
len(Location)

219521

In [152]:
uni_Location=dict()
for i in range(len(Location)):
    if Location[i] in uni_Location:
        uni_Location[Location[i]].append(Doc_id_Disc_loc[i])
    else:
        uni_Location[Location[i]]=[]
        uni_Location[Location[i]].append(Doc_id_Disc_loc[i])
Doc_id_Disc_loc=list((uni_Location.values()))

uni_Location=dict()
for i in range(len(Location)):
    if Location[i] in uni_Location:
        uni_Location[Location[i]].append(corpus_Doc_id_Disc_loc[i])
    else:
        uni_Location[Location[i]]=[]
        uni_Location[Location[i]].append(corpus_Doc_id_Disc_loc[i])
corpus_Doc_id_Disc_loc=list((uni_Location.values()))

uni_Location=dict()
for i in range(len(Location)):
    if Location[i] in uni_Location:
        uni_Location[Location[i]].append(pro_id_Disc_loc[i])
    else:
        uni_Location[Location[i]]=[]
        uni_Location[Location[i]].append(pro_id_Disc_loc[i])
pro_id_Disc_loc=list((uni_Location.values()))
Location=list((uni_Location.keys()))

In [154]:
len(Location)

33492

In [155]:
df=pd.DataFrame({'Dis_Person': pd.Series(Person), 'Doc_id_disc_per': pd.Series(Doc_id_Disc_per), 'corpus_id_disc_per': pd.Series(corpus_Doc_id_Disc_per), 'provider_id_disc_per': pd.Series(pro_id_Disc_per),'Dis_Company': pd.Series(Company), 'Doc_id_disc_com': pd.Series(Doc_id_Disc_com), 'corpus_id_disc_com': pd.Series(corpus_Doc_id_Disc_com), 'provider_id_disc_com': pd.Series(pro_id_Disc_com),'Dis_location': pd.Series(Location), 'Doc_id_disc_loc': pd.Series(Doc_id_Disc_loc), 'corpus_id_disc_loc': pd.Series(corpus_Doc_id_Disc_loc), 'provider_id_disc_loc': pd.Series(pro_id_Disc_loc)})

In [156]:
df

,Dis_Person,Doc_id_disc_per,corpus_id_disc_per,provider_id_disc_per,Dis_Company,Doc_id_disc_com,corpus_id_disc_com,provider_id_disc_com,Dis_location,Doc_id_disc_loc,corpus_id_disc_loc,provider_id_disc_loc
0,MADELEINE McCann,"[453767b1-2a6e-4f6b-9ba2-438fbd6a7ba2, 4d5f7fe...","[85851332710865434673, 2215458325564593760]","[Independent News and Media, Independent News ...",Sumitomo Electric Industries,[76a1183d-0ca2-4e4d-8803-29171abf70b4],[10001391534406458388],[Pedia Content Solutions],Alexandria,"[76a1183d-0ca2-4e4d-8803-29171abf70b4, 32c75a9...","[10001391534406458388, 10194743879020890416, 1...","[Pedia Content Solutions, Pedia Content Soluti..."
1,Jim Gamble,"[453767b1-2a6e-4f6b-9ba2-438fbd6a7ba2, 4d5f7fe...","[85851332710865434673, 2215458325564593760, 36...","[Independent News and Media, Independent News ...",Sumitomo Wiring Systems,[76a1183d-0ca2-4e4d-8803-29171abf70b4],[10001391534406458388],[Pedia Content Solutions],U.S.,"[76a1183d-0ca2-4e4d-8803-29171abf70b4, 1517cf8...","[10001391534406458388, 1003697364868800988, 10...","[Pedia Content Solutions, ProQuest Information..."
2,Autonetworks Technolgies,[76a1183d-0ca2-4e4d-8803-29171abf70b4],[10001391534406458388],[Pedia Content Solutions],MTU Aero Engines,"[6ab2e378-25fc-49f7-9839-90a09c00f9c6, 4b8eadc...","[10003418367518724122, 49600777431065420103]","[NewsRx.com, Pedia Content Solutions]",CT,"[6ab2e378-25fc-49f7-9839-90a09c00f9c6, 0026ec4...","[10003418367518724122, 12368024355344441648, 1...","[NewsRx.com, NewsBank, NewsBank, NewsBank, Pro..."
3,Yasunori Hiromichi,[76a1183d-0ca2-4e4d-8803-29171abf70b4],[10001391534406458388],[Pedia Content Solutions],StubHub,[2445ad2f-b016-4491-8ed0-9a84a1cff617],[10008808802366576791],[Gale Group],Washington,"[6ab2e378-25fc-49f7-9839-90a09c00f9c6, 55df529...","[10003418367518724122, 1001901594516879210, 10...","[NewsRx.com, SyndiGate Media Inc., Gale Group,..."
4,Sato Shinichiro,[76a1183d-0ca2-4e4d-8803-29171abf70b4],[10001391534406458388],[Pedia Content Solutions],"Ringgold, Inc.","[b1363018-046e-4101-8ffd-5e95cfbcacc6, 497a241...","[10008927411708462458, 13574131528489418835, 1...","[Gale Group, Gale Group, Gale Group, Gale Grou...",Germany,"[6ab2e378-25fc-49f7-9839-90a09c00f9c6, a3e71bf...","[10003418367518724122, 10058313731089319651, 1...","[NewsRx.com, Tribune Content Agency, Tenders, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
154951,Robert J. Lynn,[f538d3e8-7ce4-4015-8050-af3b68be52ed],[53990071484871970283],[NewsBank],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154952,Governor Sununu,[f538d3e8-7ce4-4015-8050-af3b68be52ed],[53990071484871970283],[NewsBank],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154953,Gov. John Lynch,[f538d3e8-7ce4-4015-8050-af3b68be52ed],[53990071484871970283],[NewsBank],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154954,Gov. Judd,[f538d3e8-7ce4-4015-8050-af3b68be52ed],[53990071484871970283],[NewsBank],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154955,Gov. Craig,[f538d3e8-7ce4-4015-8050-af3b68be52ed],[53990071484871970283],[NewsBank],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
df.to_excel("Naviga5_all_part.xlsx",index=False)